.grid-container {
    width: 630px;
    height: 630px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/*
.grid-row {
  margin-bottom: 10px;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}
*/

.hole {
    width: 130px;
    height: 130px;
    margin: 10px;
    border-radius: 3px;
    background: #8687ad;
}

.grid-cell:last-child {
  margin-right: 0;
}

img {
  padding: 5px 5px;
}